// breakpoints
$widthMob: 576px;
$widthPad: 1024px;
$widthMedium: 1320px;
$widthLarge: 1616px;
//max-container
$max-container-width: 1500px;
//margin
$mobileMargin: 20px;
$padMargin: 36px;
$mediumMargin: 58px;
//border-radius
$border-radius: 12px;
//fonts
$fontFamily: "Manrope", sans-serif;
//colors
$black: #000000;
$dark: #222528;
$caption: #454963;
$darkgrey: #818181;
$background: #f4f7fd;
$silverblue: #e0ebf6;
$grey: #E1E3E4;
$deepblue: #245fb8;
$darkblue: #05315c;
$blue: #0B9CEF;
$lightblue: #3BAFF2;
$blue-accent: #0b40ef;
$blue-tonal: #C7EBFF;
$white: #FFFFFF;
$light: #f7f9f9;
$lightred: #FFF6F6;
$red: #D61014;
$ruby: #E0115F;
$darkruby: #670126;
$lightyellow: #fffde7;
